doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Admin
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css")
  body.pt-5
    main.container(role="main")
      h1 Admin
      p!= message
      .table-responsive
        table.table.table-bordered
          thead.thead-dark
            tr
              th(scope="col") ID
              th(scope="col") Time
              th(scope="col") Form Name
              th(scope="col") Reply-To
              th(scope="col") Text
              th(scope="col") Actions
          tbody
            for submission in submissions
              tr
                th.align-middle(scope="row")= submission.id
                td.align-middle= submission.time
                td.align-middle= submission.formName
                td.align-middle= submission.replyTo
                td.align-middle!= submission.text
                td.align-middle
                  button.btn.btn-danger(type="button",onclick="deleteSubmission('" + submission.id + "')") Delete
    script(src="/jquery-3.3.1.min.js")
    script(src="/custom.js")
